.card__project {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 3px;
    border: 2px solid black;
    
}
.card__project img{
    max-width: 100%;
}
.contenido{
    display: flex;
    flex-direction: column;
    max-width: 52%;
    min-width: 50%;

}

.card__project h2{
    font-size: clamp(0.8rem, 0.643rem + 0.952vw, 1.5rem);
    color:  var(--main-terciario-color);
    font-family: Koulen;
    text-align: right;
    line-height: 0%;
    margin-bottom: 2px;
   
}
.card__project p{
    color: var(--main-terciario-color);
    font-size: clamp(0.8rem, 0.443rem + 0.952vw, 1.3rem);
    text-align: right;
    font-weight: bold;
    padding: 8px;

}
.iconos{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

@media (max-width: 576px){
    .card__project {
        width: 90%;
    }
    .contenido {
        max-width: 86%;
    }
    .card__project img {
        width: max-content;
    }
}